@charset "UTF-8";
/* CSS Document */

/* CSS Document */
body{
	height:100%;
	background:url("../_images/bkg_kunlunshiqu.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-color:#000;
	font-size:14px;
	color:#FFF;
	margin-bottom: 0px;
	text-align:left;
	font-family:宋体;
	}
*{margin:0;
  padding:0; }

#main{width:1000;
      margin:left;
      padding-left:20px;
	  color:#FFFFFF;}
	
#header {	width:950px;
         	height:200px;
         	margin-bottom:0px;
         	background:url("../_images/header_kunlunshiqu.jpg") no-repeat left;
}
#navbar {margin:left;
          width: 950px;
          text-align:center;                 
          border: 0px solid;
		  background-color:#00F;}
 ul{	
	
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li{	width:225px;
	float:left;
	
	
}
a:link,a:visited{
	display:block;
	font-weight:300;
	height:20px;
	text-align:center;
	text-decoration:none;
	padding:10px;
	font-size:25px;
	color:#690;
	
}

a:hover,a:active{
	background-color: #800;
	font-family: 宋体;
	color:#FFC;
}
#pagebody{
	width:950px;
	height:auto;
	margin:0 auto;
	padding:0px 0px 0px 0px;
	background-color:;
	margin-top:0px;
	float:left;
	text-align:left;
	font-family: 宋体;
}
#content{
	width:950px;
	height:auto;
	margin-left:0%;
	margin-right:0%;
	padding:30px 0px 0px 0px;
	font-size:20px;
	line-height:98%;
	letter-spacing:0px;	
	font-family:宋体   ;
	text-align:left;	
}
#pagebody #content p {
	text-align: left;
	color: #fff;
	font-size:25px;
    line-height:28px;
	letter-spacing:2px;
}
.h1 {
	color: #fff;
}
#pagebody #content p {
	text-align: left;
}
.img_1{float:left;
	margin:10px 15px 0px 0px;
}
h3{font-size:26px;
color:#C9F;}
.color1 {
	color: #FF0;
}
