@charset "UTF-8";
/* CSS Document */

/* CSS Document */
body{
	height:100%;
	background:url("../_images/bkg_kunlunshi_k8.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-color:;
	}
	
*{margin:0;
  padding:0; }
  
#main{width:1000px;
      margin:left;
      padding-left:20px;}
	
#header {	width:950px;
         	height:200px;
         	margin-bottom:0px;
         	background:url("../_images/header_kunlunshi01.jpg") no-repeat left;
}
#navbar {margin:left;
          width: 950px;
          text-align:center;                 
          border: 0px solid;
		  background-color:#00F;}
 ul{	
	
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li{	width:225px;
	float:left;
	
	
}
a:link,a:visited{
	display:block;
	font-weight:300;
	height:20px;
	text-align:center;
	text-decoration:none;
	padding:10px;
	font-size:25px;
	color:#FFF;
	
}

a:hover,a:active{
	background-color: #800;
	font-family: 宋体;
	color:#FFC;
}
#pagebody{
	width:950px;
	height:auto;
	margin:0 auto;
	padding:0px 20px 20px 0px;
	background-color:;
	margin-top:0px;
	float:left;
	text-align:left;
	font-family: 宋体;
}
#content{
	width:950px;
	height:auto;
	margin: 0 auto;
	padding:30px 0px 0px 0px;
	font-size:15px;
	line-height:98%;
	letter-spacing:0px;
	font-family:宋体;

	color:;
}
#pagebody #content p {
	text-align: left;
	color: #000;
	font-size:23px;
    line-height:25px;
	letter-spacing:2px;
}
.h1 {
	color: #fff;
}
#pagebody #content p {
	text-align: left;
	color: #000000;
	font-weight: bold;
}
.img_1{float:left;
	margin:10px 15px 0px 0px;
}
h3{font-size:26px;
color:#903;}
.color1 {
	color: #FF0;
}
#main #pagebody #content p {
	text-align: left;
	font-weight: normal;
}
